MobileApp/*.iml
MobileApp/.gradle
MobileApp/local.properties
MobileApp/.idea/libraries
MobileApp/.idea/modules.xml
MobileApp/.idea/workspace.xml
MobileApp/.DS_Store
MobileApp/build
MobileApp/captures
MobileApp/.externalNativeBuild
WebApp/Conference_Website/Conference_Website/*.pyc
WebApp/Conference_Website/Website/*.pyc