body {
  background: linear-gradient(rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  overflow-x: hidden;
}

.topnav {
    background-color: #318884;
    overflow: hidden;
    position: relative;
    height: 60px;
    -webkit-transform: translateZ(0);
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

* {
  margin: 0px;
  padding: 0px;
}

.full-height {
  width: 100px;
  height: calc(100vh - 60px);
}

.full-height-signup {
  width: 100px;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}

.content {
  width: 100%;
  display: table;
  position: relative;
}

.content-main {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  padding-left: 72px;
  padding-bottom: 72px;
  color: white;
}

.content-main h1 {
  font-weight: bold;
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
}

.content-main h2 {
  font-weight: bold;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}

.content-main p{
  padding-bottom: 12px;
}

.content-main a{
  text-decoration: none;
}

.content-dashboard {
  width: 100%;
  display: table;
  position: relative;
  background-color: white;

}

.content-dashboard-main{
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 108px;
  color: black;  
}


.content-overview {
  width: 100%;
  display: table;
  position: relative;
  background-color: white;

}

.content-overview-main{
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-left: 96px;
  padding-top: 24px;
  padding-bottom: 108px;
  padding-right: 320px;
  color: black;  
}

.content-overview-main h3 {
  font-weight: bold;
  padding-top: 16px;
  color: black;
}

.content-overview-main h4 {
  font-weight: bold;
  padding-top: 16px;
  color: #318884;
}

.content-overview-main p {
  font-size: 14px;
  }

.header-btn {
  background: #fff;
  border-radius: 0;
  margin-top: 8px;
  color: #000000 !important;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  border: 1px solid transparent;
  color: #fff;
}

.header-btn:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff !important;
  text-decoration: none;
}

.content-contact {
  width: 100%;
  display: table;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  top: 40px;

}

.content-contact-left {
}

.content-contact-right {
  display:table;
  width:100%;
  height: 100%;
}

.content-main-signup-left {
  display: table;
  position: relative;
  padding-left: 100px;
  padding-right: 120px;
  top: 40px;

}

.content-main-signup-right {
  display: table;
  position: relative;
  padding-left: 100px;
  padding-right: 120px;
  top: 40px;
  padding-bottom: 12px;

}

.content-main-signup {
  margin-left: 25%;
  margin-right: 25%;
  width: 60%;
  align-self: center;
  padding-left: 80px;
  padding-right: 80px;
  overflow-x: hidden;
  height: 80%;
}

.content-contact-left h3{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}

.content-contact-left p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #888888;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 8px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #318884;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%; 
  padding: 8px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #318884;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  width: 100%; 
  padding: 8px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #318884;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password], select, textarea {
  width: 100%; 
  padding: 8px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #318884;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #318884;
  color: white;
  margin-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-top: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #318884;
}


.content-main-signup input[type=text], select, textarea {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}

.content-main-signup input[type=email], select, textarea {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}

.content-main-signup input[type=password], select, textarea {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}

.content-main-signup select {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  background: #ffffff;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}


.content-main-signup input[type=submit] {
  background-color: #4c4c4c;
  border-color: transparent;
  color: white;
  border-radius: 0px;
  margin-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-top: 8px;
  border: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.content-main-signup input[type=submit]:hover {
  background-color: #4c4c4c;
  border-radius: 0px;
  opacity: 0.8;
}

.content-main-signup label{
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.content-main-signup input[type=date], select, textarea {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}

.content-contact-right-main {
  height: 100%;
  padding-bottom: 108px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.content-contact-right-main h4{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-top: 8px;
  font-weight: bold;
  color: black;
}

.content-contact-right-main h5{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
}

.content-contact-right-main p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
}

.hr-custom{
  padding-left: 8px;
  padding-right: 8px;
  left: 32px;
  padding-top: 8px;
  background-color: #888888
  border-width: 1px;
}

.login {
  width: 400px;
  margin:15% auto;
  padding-right: 20px;
  font-size: 16px;
  animation-name: animatetop;
  animation-duration: 1s;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  top: 50%
  left: 50%;
  color: white;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #318884;
}

.login-header {
  background: #318884;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 15px 15px 0px 0px;  
}

.login-container {
  background: #ebebeb;
  padding: 12px;
  border-radius: 0px 0px 15px 15px;  
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #318884;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

.modal {
  display: none;
  z-index: 1;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.6);
  color: white;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    float: right;
    font-size: 32px;
    padding: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 360px;
  max-width: 400px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px 8px 8px 8px;
  background-color: white;
}

.title {
  color: #3f51b5;
  font-size: 18px;
}

.footer a {
  margin: 4px 4px 4px 4px;
  color: black;
  font-size: 24px;
}

.footer a:hover {
  opacity: 0.7;
}

.footer {
  margin: 12px 0;
  padding: 12px;
}

i{
  margin-right: 8px;
}

img {
  object-fit: contain;
  width: 360px;
  height: 300px;  
  padding: 15px;
}

img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card-view {
  padding-bottom: 32px;
}

.categories-div{
  width: 100%;
  margin-top: 32px;
  margin-right: 96px;
  font-size: 32px; 
}

.categories-div span{
  font-size: 16px;
  text-align: center;
  padding-left: -8px;
}

.categories-div br{
  display: block;
  content: "";
  margin: 0em;
}

#categories-wrapper{
  width: 100%;
  display: flex;
}

#basic-info{
  width: 25%;
  text-align: center;
}

#social-info{
  width: 25%;
  text-align: center;
}

#food-info{
  width: 25%;
  text-align: center;
}

#ap-info {
  width: 25%;
  text-align: center;
}

.content-create {
  width: 100%;
  display: table;
  position: relative;
  background-color: white;

}

.content-create-main{
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 108px;
  color: black;  
}

.section-icon{
  text-align: center;
  color: #145AA4;
}

.content-create-form{
  margin-left: 25%;
  margin-right: 25%;
  width: 60%;
  align-self: center;
  padding-left: 80px;
  padding-right: 80px;
  overflow-x: hidden;
  height: 80%;
}

.content-create-form-left {
  display: table;
  position: relative;
  padding-left: 100px;
  padding-right: 120px;
  top: 40px;

}

.content-create-form-right {
  display: table;
  position: relative;
  padding-left: 100px;
  padding-right: 120px;
  top: 40px;
  padding-bottom: 12px;

}

.add a:hover {
  text-decoration: none;
}

.profile-li{
  background-color: #2F353F;
}

.content-profile {
  width: 100%;
  display: table;
  position: relative;
  background-color: white;

}

.content-profile-main{
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 108px;
  color: black;  
}

.conference-header-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.conference-header-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.conference-header-card-container {
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
}

.header-btn-form {
  background: #fff;
  border-radius: 0;
  margin-top: 8px;
  color: #000000 !important;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  border: 1px solid transparent;
  color: #fff;
}

.header-btn-form:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff !important;
  text-decoration: none;
}

.content-create-form input[type=text], select, textarea {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}

.content-create-form input[type=email], select, textarea {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}

.content-create-form input[type=password], select, textarea {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}

.content-create-form select {
  width: 84%; 
  padding: 8px;  
  box-sizing: border-box;
  border-radius: 0px;
  background: #ffffff;
  border-color: #E5E5E5;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 12px;
}


.content-create-form input[type=submit] {
  background-color: #4c4c4c;
  border-color: transparent;
  color: white;
  border-radius: 0px;
  margin-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-top: 8px;
  border: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.content-create-form input[type=submit]:hover {
  background-color: #4c4c4c;
  border-radius: 0px;
  opacity: 0.8;
}

.content-create-form label{
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
