<!DOCTYPE html>
<html>
<head>
	<title>Conference Portal</title>
	<link rel="stylesheet" href="../static/Website/css/main.css">
	<link rel="stylesheet" href="../static/Website/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body>
	<div class="topnav" style="background-color: transparent;">
	  <div class="topnav-right">
	  	<a href="{% url '' %}">HOME</a>
	    <a href="{% url 'overview' %}">OVERVIEW</a>
	    <a href="{% url 'guide' %}">GUIDE</a>
	    <a class="active" href="{% url 'about' %}">ABOUT</a>
	    <a href="{% url 'faq' %}">FAQ</a>
	    <a href="{% url 'contact' %}">CONTACT</a>
	    <a href="#" id="my_btn">LOGIN</a>
	  </div>
	</div>
	
	<div class="content full-height">
		<div class="content-main">
			
		</div>
		<div class="modal" id="my_modal">
			<div class="login">
				<span class="close">&times;</span>
				<h2 class="login-header">Log in</h2>
				<form class="login-container" action="{% url login_user %}" method="POST"> {% csrf_token %}
					<p><input type="text" placeholder="Email" name="username" id="username"></p>
					<p><input type="password" placeholder="Password" name="password" id="password"></p>
					<p><input type="submit" value="Log in"></p>
					<center><a href="/signup" style="color: #888888; text-align: center">Not registered? Sign up</a></center>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="../static/Website/js/login_popup.js"> </script>	
	</div>



</body>
</html>