<!DOCTYPE html>
<html>

<head>
  <title>Conference Portal</title>
  <link rel="stylesheet" href="../static/Website/css/main.css">
  <link rel="stylesheet" href="../static/Website/css/bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript" src="../static/Website/js/index.js"> </script>
</head>

<body style="background: white">
  <div class="topnav">
    <div class="topnav-right">
      <a class="active" href="{% url '' %}">HOME</a>
      <a href="{% url 'dashboard' %}">DASHBOARD</a>
      <a href="{% url 'overview' %}">OVERVIEW</a>
      <a href="{% url 'guide' %}">GUIDE</a>
      <a href="{% url 'about' %}">ABOUT</a>
      <a href="{% url 'faq' %}">FAQ</a>
      <a href="{% url 'contact' %}">CONTACT</a>
      <a href="{% url 'logout' %}">LOGOUT</a>
    </div>
  </div>
  
  <div class="content full-height-signup" style="padding-left: 25%">
    <div class="content-main-signup row jumbotron" style="width: 75%">
      <div class="content-main-form-left col-md-6">
        <h3>Final Step!</h3>
        <img src="../../../media/agenda_1.jpg" class="screenshot-img" style="height: 480px; width: 270px">
      </div>

      <div class="content-main-signup-right col-md-6">
        <form method="POST" enctype="multipart/form-data" action="/create5/" style="height: 100%;"> {% csrf_token %}
        <div class="form-group">
          <label for="schedule_csv">Upload conference schedule as CSV</label>
          <br>
          <a href="https://drive.google.com/file/d/1e-Yd0sSwcQ__TrxkyUgUxneX1smv5LLW/view?usp=sharing" target="_blank">Download Sample CSV</a>
          <input type="file" name="schedule_csv" id="schedule_csv" required="True" class="form-control" style="width:300px">    
        </div>

        <br>

        <div class="form-group">
          <label for="users_csv">Upload user details as CSV</label>
          <br>
          <a href="https://drive.google.com/file/d/1fYrvo-ZI2fff7cBanm1nC4pcbk4RqFbh/view?usp=sharing" target="_blank">Download Sample CSV</a>
          <input type="file" name="users_csv" id="users_csv" required="True" class="form-control" style="width:300px">    
        </div>

        <br>
        
        <div class="form-group">
          <label for="logo_image">Upload conference logo</label>
          <input type="file" name="logo_image" id="logo_image" required="True" class="form-control" style="width:300px">    
        </div>

        <div class="form-group">
        	<label for="about">Primary Color</label><br>
        	<input type="color" name="primarycolor" value="#0277bd">
        </div>
        
        <div class="form-group">
        	<label for="website">Primary Dark Color</label><br>
        	<input type="color" name="secondarycolor" value="#004c8c">
        </div>
        
        <div class="form-group">
        	<label for="facebook">Accent Color</label><br>
        	<input type="color" name="accentcolor" value="#58a5f0">
        </div>
                
        <div class="form-group">                    
          <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
            <a href="/thank_you/"><button class="btn btn--form"> <span class="glyphicon glyphicon-upload" style="margin-right:8px;"></span>Finish</button></a>
          </div>
        </div>

        </form>

      </div>
    </div>

    <div class="modal" id="my_modal">
      <div class="login">
        <span class="close">&times;</span>
        <h2 class="login-header">Log in</h2>
        <form class="login-container" action="." method="POST"> {% csrf_token %}
          <p><input type="text" placeholder="Email" name="username" id="username"></p>
          <p><input type="password" placeholder="Password" name="password" id="password"></p>
          <p><input type="submit" value="Log in"></p>
          <center><a href="/signup" style="color: #888888; text-align: center">Not registered? Sign up</a></center>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="../static/Website/js/login_popup.js"> </script>
  </div>
</body>
</html>