<!DOCTYPE html>
<html>

<head>
	<title>Conference Portal</title>
	<link rel="stylesheet" href="../static/Website/css/main.css">
	<link rel="stylesheet" href="../static/Website/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>

<body style="background: white">
	<div class="topnav">
		<div class="topnav-right">
			<a href="{% url '' %}">HOME</a>
			<a class="active" href="{% url 'overview' %}">OVERVIEW</a>
			<a href="{% url 'guide' %}">GUIDE</a>
			<a href="{% url 'about' %}">ABOUT</a>
			<a href="{% url 'faq' %}">FAQ</a>
			<a href="{% url 'contact' %}">CONTACT</a>
			<a href="#" id="my_btn">LOGIN</a>
		</div>
	</div>
	
	<div class="content-overview full-height">
		<div class="content-overview-main">
			<p>As a conference organizer, it is imperative that your content and resources is readily available to all, it is what makes a good conference. Someone will not be looking to attend a conference where that person will have to go through tens of pages just to find out where he needs be, people are not willing to go through the pain of opening up the website to look at every detail.</p>
			<p>The solution to readily available resources on the go is mobile computing. With the world we live in now, our mobile phones have more capability to store and provide access to any information than ever before. So, a mobile computing solution is what will solve this problem. This is where, we, the people at Conference Portal come into picture.</p>
			<h3>What Conference Portal Helps You to Do</h3>
			<p>With conference portal, you as an organizer of a conference need not see any further than us, sign up, enter a few details about your conference and there you have it. A fully personalized android application for your very own conference, loaded with every feature a person could think of. Want to know who is presenting a paper? Want to know where a paper will be presented? Want to know more about the conference? Hungry, want to know what's for lunch? We cover it all. Loaded with a personalized profile system, users need not see any further to get in touch with fellow attendees, helping the community grow even further. The possibilities are endless, and we promise to cover it all within a few clicks.</p>
			<h3>Pricing Details</h3>
			<p>All good things, apart from Conference portal come with a price. You heard it right, we are covering all of that mentioned above for you absolutely free.</p>
		</div>

		<div class="modal" id="my_modal">
			<div class="login">
				<span class="close">&times;</span>
				<h2 class="login-header">Log in</h2>
				<form class="login-container" action="{% url login_user %}" method="POST"> {% csrf_token %}
					<p><input type="text" placeholder="Email" name="username" id="username"></p>
					<p><input type="password" placeholder="Password" name="password" id="password"></p>
					<p><input type="submit" value="Log in"></p>
					<center><a href="/signup" style="color: #888888; text-align: center">Not registered? Sign up</a></center>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="../static/Website/js/login_popup.js"> </script>
	</div>
</body>
</html>