<!DOCTYPE html>
<html>
<head>
	<title>Conference Portal</title>
	<link rel="stylesheet" href="../static/Website/css/main.css">
	<link rel="stylesheet" href="../static/Website/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript" src="../static/Website/js/index.js"> </script>
</head>

<body style="background: white">
	<div class="topnav">
		<div class="topnav-right">
			<a class="active" href="{% url '' %}">HOME</a>
			<a href="{% url 'dashboard' %}">DASHBOARD</a>
			<a href="{% url 'overview' %}">OVERVIEW</a>
			<a href="{% url 'guide' %}">GUIDE</a>
			<a href="{% url 'about' %}">ABOUT</a>
			<a href="{% url 'faq' %}">FAQ</a>
			<a href="{% url 'contact' %}">CONTACT</a>
			<a href="{% url 'logout' %}">LOGOUT</a>
		</div>
	</div>
	


	<div class="content-thank-you full-height">
		<div class="jumbotron text-center">
		  <hi class="thank-you"><i class="fa fa-check" aria-hidden="true" style="color:#24B663"></i></h1>
		  <h1 class="display-3">Thank You!</h1>
		  <p class="lead"><strong>Please click on the button below</strong> to download the APK.</p>
		  <p class="lead">You can edit information by visiting the dashboard.</p>
		  <hr>
		  <p class="lead">
			<form method="POST" action="."> 
				{% csrf_token %}
				<input class="btn btn-primary btn-sm" type="submit" value="Download" />
			</form>
		  </p>
		</div>

		
		<div class="modal" id="my_modal">
			<div class="login">
				<span class="close" style="color: white; opacity: 1; float: right; font-size: 1.5rem; font-weight: 700; line-height: 1; padding: 20px; margin: 0px;">&times;</span>
				<h2 class="login-header">Log in</h2>
				<form class="login-container" action="." method="POST"> {% csrf_token %}
					<p><input type="text" placeholder="Email" name="username" id="username"></p>
					<p><input type="password" placeholder="Password" name="password" id="password"></p>
					<p><input type="submit" value="Log in"></p>
					<center><a href="/signup" style="color: #888888; text-align: center">Not registered? Sign up</a></center>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="../static/Website/js/login_popup.js"> </script>
	</div>
</body>
</html>