<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conferenceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name=".models.MainApplication"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityLogin" />
        <activity
            android:name=".activities.NavBarActivity"
            android:theme="@style/AppTheme.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.INSERT_OR_EDIT" />

                <data android:mimeType="vnd.android.cursor.dir/event" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityHashtags" />
        <activity android:name=".activities.ActivityCreatePost" />
        <activity android:name=".activities.ActivityPaperDetails" />
        <activity
            android:name=".activities.ActivityFirstTime"
            android:label="@string/title_activity_first_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ActivitySetPassword" />
        <activity android:name=".activities.ActivityMyProfile"></activity>
        <activity android:name=".activities.ActivityUserProfile"></activity>
    </application>

</manifest>